Html {
    scroll-behavior: smooth;
}

body {width: 100%;
    padding:0px;
    margin: 0px;
    
}

* { font-family: 'Slabo 27px', serif;}

p { font-size: 1.25rem;
    color: #49494b;
    font-weight: bolder
}

h1 {
    font-weight: bolder
}

h3 {
    font-weight: 200
}

.background {
    padding-top: 1rem;
}

.navbaR {height: 2.5rem;
    width: 100%;
    background: #bd8c7d;
}

.navbaR ul {width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem 0rem;
    padding: .25rem 0px;
    align-items: center;
    height: 100%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1 !important;
    z-index: 1;
  }

.navbaR ul li {
    width: auto;
    margin: 0 8rem;
}

.navbaR a {
    color: white;
    text-decoration: none;
    animation: fadeIn 3s forwards;
    font-size: 1.25rem

}

.navbaR a:hover {
    color: rgba(179, 179, 179, 0.363);
    text-decoration: none;

}

.navBar a:active {
    color: white;
}


.box__design button {
    background:grey;
    color:grey;
    border:none;
    position:relative;
    height:60px;
    width: 12rem;
    font-size:1.6em;
    padding:0 .5rem;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 3%;
    margin-top: .5rem
  }

  
  .box__design button:hover{ 
    background: darkgray;
    color:#e4f1fe;


  }

  .box__design button a:hover { color: rgba(29, 17, 0, 0.603);
    text-decoration: none

  }
  .box__design button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #e4f1fe;
    transition:400ms ease all;
  }
  .box__design button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .box__design button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .box__design button a {
      text-decoration: none;
      color: white
  }





.container__one {

    height: 65vh;
    width: 100%;
    display: relative;
}




.background{
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.img__one {
    width: 35%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url("images/building.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: fadeIn 2s forwards;
    z-index: -1;

}


.box__design {position: relative;
    width: 65%;
    animation: fadeIn 3s forwards;


}

.box__one {background-color: #8e8e90;
    width: 100%;
    height:100%;
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%, 0 0);
    position: absolute;
    z-index: -2;

}

.box__two {background-color: #49494b ;
    width:50.5%;
    height: 51%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: -2;
}

.headCap {
    left: 5%;
    top: 24%;
    width: 25rem;
    position: absolute;
    animation: fadeIn 2s forwards;
    color: #d1bfa7
}


.headCap h1 {
    font-size: 2.5rem;
}



.container__two{
    height: 40rem;
    width:100%;
    margin:0 auto;

}

.container__two .media__links {
    display:flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-around;
    background:rgba(0, 0, 0, 0.048);
    padding-top: 3px;
    padding-left: 12px;
    align-items: center;
}

.container__two .media__links a {
    color: #bd8c7d;
    animation: fadeIn 2s forwards; 
    padding-left: 25px;   
}

.media__links a:hover {
    transform: scale(1.1)
}

.media__links a i {
    height: 10px;
    width: auto;
}

.container__two .media__links p {
    width: 5rem;
    height: 1.25rem;
    border-right: 2px solid rgba(0, 0, 0, .75);
    font-size: 1rem;
    animation: fadeIn 2s forwards;
}

.container__two .media__links a:hover {text-decoration: none;

}

.influencer__msg {width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    animation: fadeIn 2s forwards;

}

.container__two .caption {
    height: 20rem;
    width: 18rem;
    position: relative;
    padding: 1rem;
    margin-right:10rem;
 
    
}

.container__two h4 {font-size: 2rem;
    line-height: 48px;
    color: #d1bfa7;
    font-weight: 700;

}

.container__two .img__two {
    height: auto;
    width: auto;
    background-size: cover;
    max-width: 100%;


}


.background__box__one {
    position: absolute;
    height: 425px;
    width: 350px;
    background: #8e8e90;
    transform: translateX(-1.25rem) translateY(-1.25rem);
    z-index: -1;
    animation: fadeIn 2s forwards;

}

.background__box__two {
    height: 425px;
    width: 350px;
    background: url('images/paper.jpg');
    background-size: cover;
    background-origin: content-box;
    box-shadow:2px 2px 4px rgb(143, 143, 143);
    z-index: 1;
    animation: fadeIn 2s forwards;

}

.meet {
    background:grey;
    color: white;
    border:none;
    position:relative;
    height:60px;
    font-size:1.3em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 3%;
    top: .9rem;
    

  }
  .meet:hover{ 
    background: darkgray;
    color:rgba(29, 17, 0, 0.603);


  }
  .meet:focus {
      outline: 0
  }

  .meet a:hover { color: rgba(29, 17, 0, 0.603);
    text-decoration: none

  }
  .meet:before,.meet:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgba(29, 17, 0, 0.603);
    transition:400ms ease all;
  }
  .meet:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .box__design .meet:hover:before,.meet:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .meet a {
      text-decoration: none;
      color: white
  }




  .container__three {
      height: 60vh;
      width: 100%;
      background:rgb(235, 235, 235);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 3rem 0rem;
      flex-shrink: 3;
 
  }

  .container__three .cards {
      height: 400px;
      width: 300px;
      background: #49494b;
      margin: 1rem 1.5rem;
      box-shadow: 1px 1px darkgray;
      color: #8e8e90
      
  }

  .container__three .cards:hover {
      transform: scale(1.025)
  }

  .container__three .cards img {
      height: 170px;
      width: 100%

  }

  .cards__text {height:auto;
      width: 100%;
      padding: 1rem;
      text-align: center;
      font-size: 1.15rem;
   

  }

  .cards__text h3 {
    color: #d1bfa7
  }

  .cards__text p {
      color: lightgray;
    /* color:#bd8c7d */
  }



  .container__four {
      height: 40rem;
      width: 100%;
      padding: 1rem 1rem;
  
    

  }

  .container__four__content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center


}

.container__four__content img{ 
    height: 425px;
    width: 550px;
    position: relative;
    right: -4rem;
    z-index: 0

    
}

  .contactUs {
      float: right;
      height: 22rem;
      width:40rem;
      background: #d6cdc1;
      text-align:center;
      padding: 6rem 1rem 0rem;
      box-shadow: 2px 2px 4px rgb(143, 143, 143);
      z-index: 1;
      
  }

  .contactUs p {
      color: #bd8c7d
  }

  .contactUs h2 {
      color: #49494b
  }
  .contactUs button {
    background:grey;
    color:grey;
    border:none;
    position:relative;
    height:60px;
    width: 12rem;
    font-size:1.6em;
    padding:0 .5rem;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 3%;
    margin: .5rem;
    z-index: 0;
  }

  .contactUs button a:hover {
      text-decoration: none;

  }
  .contactUs button a{
      color: white;
  }

  footer {
    height: auto;
    width: 100%;
    padding: 0rem .5rem;
    background: #bd8c7d;


}
footer p {color:white;
    margin: 0 0;
}


/* Modal */

.contactUsModal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    padding: 3rem 3rem 0rem;
    display: none;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: modalOpen 1s;
}

@keyframes modalOpen {
    from {opacity: 0};
    to {opacity: 1};
}

.modal__content {
    width: 50%;
    height:auto;
    align-items: center;
    margin: 0 auto;
    background: white;
    color: black;
    padding: .5rem 1rem 2.75rem;
    z-index: 3;
}

.closeBtn {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 20px;
    font-size: 30px;
    display: block;
    color: grey;
}

.closeBtn:hover{
    color: black;
    cursor: pointer;
}

.contactUsForm { display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 2rem 0rem;

}

.contactUsForm #message {
    width: 100%
}

.contactUsForm h1 {
    margin: .25rem auto;
}


.contactUsForm input {
    width: 100%
}

/* Modal */

/* for laptop */
/* for laptop */
@media screen 

  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .container__three .cards {
        height: 385px;
        width: 275px;
        
    }

    .headCap h1 {
        font-size: 2.2rem
    }

    .headCap {
        left: 5.5%
    }

    .navbaR ul li {
        margin: 0 3.5rem;
    }

    .background__box__one {
        height: 375px;
        width:325px;
        max-width:100%
    }

    .background__box__two {
        height: 375px;
        width:325px;
        max-width: 100%;
    }

    .container__four__content .contactUs {
    padding-top: 4rem;
    height: 20rem;
    width: 40rem;
    }

    .container__four__content img {
        height: 375px;
        width: 480px;
     

    }
    
}





  

@media only screen and (max-width: 1111px){
    .container__four__content {
    flex-direction: column 
    }

    .container__four__content img {
        left: 0;
    }

    h1 {
        font-size: 1.25rem
    }
}



@media only screen and (max-width:911px) {


    .container__three {
        flex-direction: column;
        height: auto;
        
    }

    .headCap {
        line-height: 22px;
        width: 15rem;
            top: 4rem;
            right: 3px;
            
    }

    .headCap button {
        height: 3rem;
        width: 8rem;
        margin-top: .25rem;
    }

    .navbaR ul li {
        margin: 0 2rem;
    }

    .contactUs p {
        margin-bottom: 2rem;
    }

    .img__one {
        background-size: 100% 75%;
    }
    
}

@media only screen and (max-width:671px) {
    .box__one {
        width: 100vw;
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 50% 100%, 0 100%, 0 0);
        text-align: center

    }

    .img__one {
        background: #3a539b;
        display: none;

    }

    .box__two {
        display: none
    }

    .box__design {width: 100%;
        text-align: center
    }

  
    .container__two .media__links {
    width: 100%;
    margin: 0 auto;
    padding-left: 0px;
    left: 0;
    justify-content: center;

    }

    .container__two .media__links a {
        padding-left: .25px;
    }

    .media__links i { margin: 0 2rem;
    
  
       
    }

    .media__links a{
        width: 33.3%;
        text-align: center;
  
    }

    .headCap h1 {
        font-size: 30px;
        line-height: 2rem;
    }
    .container__two, .container__three {
        height: auto;
    }
 
    .container__two h4 {
        line-height: 2.25rem;
        font-size: 1.75rem;
    
    }
    .headCap {width: 12rem;
        left:0;
        text-align: center;
        margin: 0 auto;
        top: 6.25rem;

    }
    
    .container__two .caption h4{
        width: 13rem;
        margin: 0 auto;
    }
    .container__two .caption { 
        margin: .25rem auto;
        height: 16rem;
        width: auto
    }


    .container__three {
        flex-direction: column;
        height: auto;
    }

    .container__three .cards {
        height: 425px;
        width: 250px;
        
    }

    .meet{
        font-size: 1rem;
        line-height: 1rem;
        height: 2.75rem;
        padding: 0 .5rem
    }


    .background__box {
        height: 1rem;
        width: 1rem;
        position: absolute;
        
    }

    .influencer__msg{
        position: relative;
        height: auto;
        padding: .5rem 0rem 2rem;
    }

    .background__box__one {
        height: 200px;
        width: 150px;
        transform: translateX(-.5rem) translateY(-.5rem);
        
    }
    
    .background__box__two {
        height: 200px;
        width: 150px;

    
    }

    .container__four__content .contactUs {
        width: 100%;
        height: auto;
        padding: 1.5rem .75rem 1rem;
    }

    .container__four__content img {
        max-width: 100%;
        height: 250px;
        width: 300px;
    }

    .influencer__msg {
        flex-direction: column;
    }

    .caption{ text-align: center }



   .navbaR ul li {
       margin: 0 1rem;
   }

    button {
        height: 50px;
        width: 10rem;
    }

    .contactUs button {
        margin-top: 1.25rem;
    }
    .contactUs p {
        margin-bottom: 0px;
    }

    .contactUsModal .modal__content{ 
        width: 80%

    }

}

@media only screen and (max-width: 400px) {
    .navbar .sticky {
        width: auto;
    }

    .navbaR ul li {
        margin: 0 .5rem;
    }

    .headCap{
        top: 5rem;
    }
    .contactUsModal{
        height: 100%;
        padding: 1rem;
    
    
    }
    .contactUsModal .modal__content{ 
        width: 90%;
        margin: 0 auto;
    }

    .contactUsModal .contactUsForm {
        margin: 0 auto;
    }
}


@media only screen and (max-width: 376px) and (max-height: 813px) {
    .headCap{
        top: 6.75rem;
        width: 14rem
    }
}

@media only screen and (max-width: 321px) and (max-height: 569px) {
    .headCap{
        top: 4rem;
    }
}

@media only screen and (max-width: 420px) and (max-height: 420px) {
    .headCap{
        top: 1rem;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity:1;

    }
}

